body {
  background-color: #589b01;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1{
  margin: 10px 0;
  text-align: center;
}

.card-song {
  background-color: #b8b8b8;
  border: 1px solid #000000;
  width: 300px;
  overflow: hidden;
  padding: 25px;
  border-radius: 10px;
  margin: 10px auto;
}

.card-song img {
  width: 200px;
  margin: 0 50px;
}

.card-song h2 {
  margin: 10px 0;
  text-align: center;
}

button {
  margin: 0 75px;
  padding: 8px 10px;
  background-color: #0fdf66;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}